<a href="https://colab.research.google.com/github/Abhishekkute234/-Visualize-accident-hotspots-and-contributing-factor/blob/main/crop_price_predition.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [5]:
import pandas as pd

# Load the dataset
df = pd.read_csv('/content/corn yield.csv')

# Display the first few rows of the dataset
print(df.head())

# Display summary information about the dataset
print(df.info())

  Program  Year Period  Week Ending Geo Level    State  State ANSI  \
0  SURVEY  2015   YEAR          NaN     STATE  ALABAMA         1.0
1  SURVEY  2015   YEAR          NaN     STATE  ALABAMA         1.0
2  SURVEY  2015   YEAR          NaN     STATE  ALABAMA         1.0
3  SURVEY  2015   YEAR          NaN     STATE  ALABAMA         1.0
4  SURVEY  2015   YEAR          NaN     STATE  ARIZONA         4.0

   Ag District  Ag District Code  County  ...  Zip Code  Region  \
0          NaN               NaN     NaN  ...       NaN     NaN
1          NaN               NaN     NaN  ...       NaN     NaN
2          NaN               NaN     NaN  ...       NaN     NaN
3          NaN               NaN     NaN  ...       NaN     NaN
4          NaN               NaN     NaN  ...       NaN     NaN

   watershed_code  Watershed  Commodity  \
0               0        NaN       CORN
1               0        NaN       CORN
2               0        NaN       CORN
3               0        NaN       CORN
4               0        NaN       CORN

                                       Data Item Domain Domain Category  \
0                  CORN, GRAIN - ACRES HARVESTED  TOTAL   NOT SPECIFIED
1       CORN, GRAIN - PRODUCTION, MEASURED IN BU  TOTAL   NOT SPECIFIED
2                 CORN, SILAGE - ACRES HARVESTED  TOTAL   NOT SPECIFIED
3  CORN, SILAGE - YIELD, MEASURED IN TONS / ACRE  TOTAL   NOT SPECIFIED
4                  CORN, GRAIN - ACRES HARVESTED  TOTAL   NOT SPECIFIED

        Value CV (%)
0     245,000    NaN
1  36,015,000    NaN
2       9,000    NaN
3          15    NaN
4      34,000    NaN

[5 rows x 21 columns]
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 23474 entries, 0 to 23473
Data columns (total 21 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Program           23474 non-null  object
 1   Year              23474 non-null  int64
 2   Period            23474 non-null  object
 3   Week Ending       0 non-null      float64
 4   Geo Level         23474 non-null  object
 5   State             23474 non-null  object
 6   State ANSI        23440 non-null  float64
 7   Ag District       0 non-null      float64
 8   Ag District Code  0 non-null      float64
 9   County            0 non-null      float64
 10  County ANSI       0 non-null      float64
 11  Zip Code          0 non-null      float64
 12  Region            0 non-null      float64
 13  watershed_code    23474 non-null  int64
 14  Watershed         0 non-null      float64
 15  Commodity         23474 non-null  object
 16  Data Item         23474 non-null  object
 17  Domain            23474 non-null  object
 18  Domain Category   23474 non-null  object
 19  Value             23474 non-null  object
 20  CV (%)            0 non-null      float64
dtypes: float64(10), int64(2), object(9)
memory usage: 3.8+ MB
None

In [6]:
# Select relevant columns for analysis
columns_to_keep = ['Year', 'State', 'Commodity', 'Data Item', 'Domain', 'Value']
df = df[columns_to_keep]

# Convert 'Value' to a numeric type, handling errors by coercing invalid data to NaN
df['Value'] = pd.to_numeric(df['Value'], errors='coerce')

# Drop rows with missing values in key columns
df.dropna(subset=['Value'], inplace=True)

# Encode categorical variables like 'State', 'Commodity', 'Data Item', and 'Domain'
df = pd.get_dummies(df, columns=['State', 'Commodity', 'Data Item', 'Domain'])

# Display the first few rows after preprocessing
print(df.head())

    Year  Value  State_ALABAMA  State_ARIZONA  State_ARKANSAS  \
3   2015   15.0           True          False           False
7   2015   31.0          False           True           False
11  2015   15.0          False          False            True
15  2015   25.5          False          False           False
19  2015   25.5          False          False           False

    State_CALIFORNIA  State_COLORADO  State_CONNECTICUT  State_DELAWARE  \
3              False           False              False           False
7              False           False              False           False
11             False           False              False           False
15              True           False              False           False
19             False            True              False           False

    State_FLORIDA  ...  State_WASHINGTON  State_WEST VIRGINIA  \
3           False  ...             False                False
7           False  ...             False                False
11          False  ...             False                False
15          False  ...             False                False
19          False  ...             False                False

    State_WISCONSIN  State_WYOMING  Commodity_CORN  \
3             False          False            True
7             False          False            True
11            False          False            True
15            False          False            True
19            False          False            True

    Data Item_CORN, GRAIN - ACRES HARVESTED  \
3                                     False
7                                     False
11                                    False
15                                    False
19                                    False

    Data Item_CORN, GRAIN - PRODUCTION, MEASURED IN BU  \
3                                               False
7                                               False
11                                              False
15                                              False
19                                              False

    Data Item_CORN, SILAGE - ACRES HARVESTED  \
3                                      False
7                                      False
11                                     False
15                                     False
19                                     False

    Data Item_CORN, SILAGE - YIELD, MEASURED IN TONS / ACRE  Domain_TOTAL
3                                                True                True
7                                                True                True
11                                               True                True
15                                               True                True
19                                               True                True

[5 rows x 57 columns]

<ipython-input-6-ba8f387c8373>:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Value'] = pd.to_numeric(df['Value'], errors='coerce')
<ipython-input-6-ba8f387c8373>:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.dropna(subset=['Value'], inplace=True)

In [7]:
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestRegressor
from sklearn.metrics import mean_absolute_error

# Define features and target
X = df.drop('Value', axis=1)
y = df['Value']

# Split the data into training and testing sets
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

# Initialize and train a Random Forest Regressor
model = RandomForestRegressor(n_estimators=100, random_state=42)
model.fit(X_train, y_train)

# Make predictions on the test set
y_pred = model.predict(X_test)

# Evaluate the model
mae = mean_absolute_error(y_test, y_pred)
print(f'Mean Absolute Error: {mae}')

Mean Absolute Error: 1.0772610571736785

In [8]:
from sklearn.metrics import mean_absolute_error, mean_squared_error, r2_score
import numpy as np

# Make predictions on the test set
y_pred = model.predict(X_test)

# Calculate the Mean Absolute Error (MAE)
mae = mean_absolute_error(y_test, y_pred)
print(f'Mean Absolute Error (MAE): {mae}')

# Calculate the Mean Squared Error (MSE)
mse = mean_squared_error(y_test, y_pred)
print(f'Mean Squared Error (MSE): {mse}')

# Calculate the Root Mean Squared Error (RMSE)
rmse = np.sqrt(mse)
print(f'Root Mean Squared Error (RMSE): {rmse}')

# Calculate the R-squared (R²) value
r2 = r2_score(y_test, y_pred)
print(f'R-squared (R²): {r2}')

Mean Absolute Error (MAE): 1.0772610571736785
Mean Squared Error (MSE): 2.380082715210356
Root Mean Squared Error (RMSE): 1.5427516699749042
R-squared (R²): 0.9265392250440202

# New Section